*{
    margin: 0;
    padding: 0;

}
.background{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Images/food.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

/* navs{
   display: flex;
   padding: 2% 6%;
   justify-content: space-between;
   align-items: center;
} */
/* .navs-links{
    flex: 1;
    text-align: right;
}
.navs-link ul li{
    list-style-type: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.navs-link ul li a{
    color: #0000;
    text-decoration: none;
    font-size: 13px;
} */

.blue {
    color: blue !important;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absoulte;
    top: 50%;
    left: 50%;
    transform: translate(5%,100%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 20px 0 60px;
    font-size: 20px;
    color: #fff;
}
.hero-btn{
    display: incline-block;
    text-decoration: none;
    color: #fff;
    Border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px soild #f44336;
    background: #f44336;
    transition: .5s;


}